.author {  
  display: flex;
  justify-content: center;
  align-items: center;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 760px;

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 650px;
    width: 100%;
    min-height: 215px;
    background-color: $green;
  }

  &__title {
    font-size: 30px;
    line-height: 1;
    color: #fff;
    max-width: 260px;
    margin-right: 45px;
    span {
      font-weight: 700;
    }
  }

  &__link {
    font-size: 18px;
    padding: 20px 40px;
    background-color: #fff;
    transition: all .3s;
    &:hover {
      color: #fff;
      background-color: $red;
    }
  }
}