.product-slider {
  padding: 110px 0 120px;

  .slick-dots {
    text-align: center; 
    margin-top: 50px;   
    li {
      display: inline-block;
      margin-left: 3px;
      margin-right: 3px;
      
      &.slick-active {
        button {
          background-color: $green;
        }
      }
      button {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #e8e8e8;
        border: none;
        font-size: 0;
        cursor: pointer;
        outline: none;
      }
    }
  }
}
