.products {
  background-color: $grey;
  padding: 110px 0;
}

.products__inner {
}

.products__inner-btn {
  text-align: center;
  margin-bottom: 60px;

  button {
    font-weight: 500;
    color: $bg;
    height: 37px;
    border: none;
    background-color: #fff;
    cursor: pointer;
    outline: none;
    padding: 12px 20px;
    & + button {
      margin-left: 5px;
    }
    &.mixitup-control-active {
      background-color: $red;
      color: #fff;
    }
  }
}

.products__inner-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.products__item {
  max-width: 442px;
  width: 100%;
  box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
  margin-bottom: 30px;

  &-img {
    display: block;
    min-height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90px;
    border-bottom: 1px solid #e7ecf2;
    padding: 10px 30px;
  }

  &-name {
    max-width: 310px;
    font-weight: 500;
  }

  &-title {
    display: block;    
    font-size: 18px;
    color: $bg;
    margin-bottom: 10px;    
  }

  &-category {
    display: block;
    font-size: 14px;   
    color: $green;
  }

  &-price {
    font-weight: 700;
    font-size: 20px;
    color: $bg;
  }

  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding: 10px 30px;

  }

  &-author { 
    display: flex;
    align-items: center;  
    max-width: 245px; 
    .avatar {
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 14px;
    }
    span{
      font-weight: 500;
      font-size: 14px;
    }
  }

  &-star { 
    font-size: 12px;
    span {
      color: $bg;
    }
  }
}

.products__bottom-btn {
  text-align: center;
  button {
    border: none;
    background-color: #fff;
    box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
    color: $bg;
    cursor: pointer;
    outline: none;
    padding: 20px 30px;
    margin: 0 5px;
    &.mixitup-control-active {
      background-color: $red;
      color: #fff;
    }
  }
}

.rate-star {
  display: inline-block;
  margin-right: 13px;
}